@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,900&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

.navbar-default {
  padding-bottom: none;
  margin-bottom: 0px;
}

.navbar-default .navbar-brand{
  color: black;
  font-size: 20px;
}

.navbar-default .navbar-nav>li>a {
  color: black;
  font-size: 15px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: black;
  font-size: 15px;
}


.centralizar {
  position: relative;
  display: block;
  margin: 0 auto;
  float: none;
}

.deputadoNome {
  text-align: center;
}

.img-fotoDeputado {
  margin: 0 auto;
}
.box-shadow {
  box-shadow: none;
  transition: box-shadow 0.3s ease-in-out;
}
.box-shadow:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.box-shadow-inverse {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.box-shadow-inverse:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

#banner-superior {
  width: 100%;
  height: auto;
  min-height: 460px;
  padding-bottom: 25px;
  background: linear-gradient(rgba(52, 152, 219, 0.836), rgba(7, 7, 7, 0.719)),
    url(../img/planario.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 0,
    100% 99%,
    80% 100%,
    22% 98%,
    0 100%,
    0 0
  );
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 0,
    100% 99%,
    80% 100%,
    22% 98%,
    0 100%,
    0 0
  );
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
}

#banner-superior h1 {
  color: #fff;
  font-size: 4.2vw;
}

#form {
  background-color: rgb(255, 255, 255);
  border: solid 6px rgba(41, 127, 185, 0.616);
  padding: 15px;
  border-radius: 4px;
  position: relative;
  margin-top: 25px;
}

#form input {
  border-radius: 0px;
  border: none;
  box-shadow: none;
  transition: border 1s;
  border-bottom: solid 2px #2980b9;
}
#form select {
  border-radius: 0px;
  border: none;
  box-shadow: none;
  transition: border 1s;
  border-bottom: solid 2px #2980b9;
}

#form input:focus {
  border-radius: 0px;
  box-shadow: none;
  border: solid 2px #2980b9;
}
#form select:focus {
  border-radius: 0px;
  box-shadow: none;
  border: solid 2px #2980b9;
}

#form button {
  background-color: #2980b9;
  color: #fff;
  transition: filter 2s;
  filter: brightness(140%);
}
#form button:hover {
  filter: brightness(100%);
}

#conteudo-blocos {
  padding: 25px;
  position: relative;
  display: flex;
}
#conteudo-blocos h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 65px;
}

#conteudo-blocos .panel-heading span {
  padding: 10px 16px 10px 16px;

  border-radius: 50%;
  background-color: #2980b9;
  color: #fff;
  position: absolute;
  display: inline-flex;
}

#conteudo-blocos .panel-body h3 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 20px;
}

#conteudo-blocos .panel-body p {
  line-height: 160%;
  font-size: 16px;
}

#bloco-deputados-home {
  padding-top: 25px;
  padding-bottom: 25px;
}

#bloco-deputados-home h2 {
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}

.perfil-deputado {
  border: solid 2px #ccc;
  padding: 4px;
}
.perfil-deputado figure {
  margin-bottom: 4px;
}
.perfil-deputado .panel-body {
  padding: 4px;
  margin: 0;
  box-shadow: none;
}
.perfil-deputado .panel-body p {
  font-weight: 700;
  line-height: 160%;
  margin-bottom: 1px;
  margin-top: 1px;
}

.lista-estado {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 5px;
  padding-bottom: 15px;
  margin-bottom: 50px;
  background-color: #ccc;

  background: linear-gradient(rgba(18, 18, 19, 0.733), rgba(7, 7, 7, 0.719)),
    url(../img/brasil.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
}
.lista-estado h3 {
  text-align: center;
  font-size: 4vw;
  color: #fff;
}

#deputados_acompanhados {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 45px;
}

#deputados_acompanhados .perfil-deputado p {
  font-size: 12px;
}

#deputados_acompanhados .img-deputado img {
  width: 144px;
}

#equipe{
  padding-top:45px;
  padding-bottom: 45px;
  margin-top:25px;
}

.members {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.member {
  text-align: center;
  flex-basis: 33%;
  padding: 24px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.member-name {
  margin: 0;
  margin-top: 12px;
  font-weight: 600;
  font-size: 24px;
  color: #007765;
}

.titulo-equipe {
  font-weight: 500;
  text-align: center;
  font-size: 64px;
  color: #007765;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.member-role {
  font-style: italic;
  font-size: 18px;
}

.member img {
  background-color: #ddd;
  border-radius: 100%;
  height: 200px;
  object-fit: cover;
  width: 200px;
}

#rodape {
  margin-top: 15px;
  border-top: solid 1px #ccc;
  padding-top: 15px;
  padding-bottom: 10px;
}

#go-to-top{
  width:40px;
  height:40px;
  background-color:#9dccdf;
  position: fixed;
  bottom:15px;
  right:15px;
  cursor:pointer; 
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:50%;
  overflow: hidden;
  color:#2980b9;
  box-shadow: 0 0 6px #ccc;
  animation: movimentarSeta 3s infinite; 
  
  
  }

  @keyframes movimentarSeta {
    from {bottom: 5px;}
    to {bottom: 15px;}
  }

  .panel{
    box-shadow: none;
    transition: box-shadow 0.3s ease-in-out;
  }

  .panel:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);    
  }

  .bloco-perfil .panel .panel-heading {   
    height:85px; 
    overflow: hidden;    
  }
  .bloco-perfil .panel .panel-heading h2{
    text-transform: uppercase;
  }

  .box-shadow{
    box-shadow: none;
    transition: box-shadow 0.3s ease-in-out;
  }
  .box-shadow:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);  
  }

  .grupo{padding:5px;}

  .frente-titulo{
    text-align: center;
  }
